﻿@using JustBlog.ViewModels.Posts
@using JustBlog.Application.Categories
@inject ICategoryService categoryService;

@model CreatePostVm

@{
    var categories = categoryService.GetAll();
}

<form asp-area="Admin" asp-controller="Post" asp-action="Create">
    <h3>Thêm mới  bài viết</h3>
    @if (TempData["InforCreate"] != null)
    {
        <div class="alert alert-danger">@TempData["InforCreate"]</div>
    }
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Title" onchange="ChangeUrl('Title','UrlSlug')">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="UrlSlug" class="form-label"></label>
        <input type="text" class="form-control" asp-for="UrlSlug">
        <span asp-validation-for="UrlSlug" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ShortDesciption" class="form-label"></label>
        <textarea class="form-control" asp-for="ShortDesciption" rows="5"></textarea>
        <span asp-validation-for="ShortDesciption" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Catagory</label>
        <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(categories,"Id","Name"))">
            <option disabled>Chọn Danh Mục Bài Viết</option>

        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Tags" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Tags">
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <textarea asp-for="Content" id="editor"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>