﻿@using JustBlog.ViewModels.Posts
@using JustBlog.Application.Tags
@using JustBlog.Application.Categories

@model JustBlog.ViewModels.Posts.PostVm

@inject ICategoryService categoryService
@inject ITagService tagService


@{
    var categories = categoryService.GetAll();
    var tags = tagService.GetTagByPostId(Model.Id);
    var tagNames = string.Join(';', tags.Select(t => t.Name));
}

<form asp-area="Admin" asp-controller="Post" asp-action="Edit">
    <h3>Edit</h3>
    @if (TempData["InforUpdate"] != null)
    {
        <div class="alert alert-danger">@TempData["InforUpdate"]</div>
    }
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Title" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Title" onchange="ChangeUrl('Title','UrlSlug')">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UrlSlug" class="form-label"></label>
        <input type="text" class="form-control" asp-for="UrlSlug">
        <span asp-validation-for="UrlSlug" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShortDesciption" class="form-label"></label>
        <textarea class="form-control" asp-for="ShortDesciption" rows="5"></textarea>
        <span asp-validation-for="ShortDesciption" class="text-danger"></span>
    </div>
    <div class="form-group">
        <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(categories,"Id","Name"))">
            <option disabled>Chọn Danh Mục Bài Viết</option>

        </select>
    </div>
    <div class="form-group">
        <label asp-for="Tags" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Tags" value="@tagNames">
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>
    <div class="form-group">
        <textarea asp-for="Content" id="editor"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>