﻿@using JustBlog.ViewModels
@using JustBlog.ViewModels.Posts
@using JustBlog.Common.Constraints;
@model PagedVm<PostVm>

@{
    string keyword = "";
    string searchBy = ViewBag.SearchBy;
    string orderBy = ViewBag.OrderBy;
    string typeOfSoft = ViewBag.TypeOfSoft;
    if (ViewBag.Keyword != null) keyword = ViewBag.Keyword as string;
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success"> @TempData["Success"]</div>
}
<div class="card">
    <div class="card-header">
        <form asp-area="Admin" asp-controller="Post" asp-action="Index" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" value="@keyword" name="keyword" placeholder="Search ...">
                <select class="form-control" name="searchBy">
                    @if (searchBy == Constraints.Search.Title)
                    {
                        <option value="@Constraints.Search.Title" selected> Find By Title</option>
                        <option value="@Constraints.Search.Content"> Find By Content</option>
                    }
                    else
                    {
                        <option value="@Constraints.Search.Title"> Find By Title</option>
                        <option value="@Constraints.Search.Content" selected> Find By Content</option>
                    }
                </select>
                <select class="form-control" name="orderBy">
                    @if (orderBy == Constraints.Search.Title)
                    {
                        <option value="@Constraints.Search.Title" selected> Order By Title</option>
                        <option value="@Constraints.Search.Content"> Order By Content</option>
                    }
                    else
                    {
                        <option value="Title"> Order By Title</option>
                        <option value="Content" selected> Order By Content</option>
                    }
                </select>
                <select class="form-control" name="typeOfSoft">
                    @if (typeOfSoft == Constraints.Soft.ASC)
                    {
                        <option value="@Constraints.Soft.ASC" selected>Tăng dần</option>
                        <option value="@Constraints.Soft.DESC">Giảm dần</option>
                    }
                    else
                    {
                        <option value="@Constraints.Soft.ASC">Tăng dần</option>
                        <option value="@Constraints.Soft.DESC" selected>Giảm dần</option>
                    }
                </select>
                <button type="submit" class="btn btn-success">Search</button>
            </div>
        </form>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Created On</th>
                    <th>Update On</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Data)
                {
                    <tr>
                        <td>@post.Id</td>
                        <td>@post.Title</td>
                        <td>@post.CreatedOn.ToString("dd/MM/yyyy")</td>
                        <td>@post.UpdatedOn.ToString("dd/MM/yyyy")</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                                <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@post.Id">Update</a>
                                <a class="btn btn-sm btn-warning" asp-action="Details" asp-route-id="@post.Id">Details</a>
                            </div>
                        </td>
                    </tr>
                }


            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                @{
                                    string url = "#";
                                    if (Model.PageIndex > 1)
                                    {
                                        url = $"/admin/post/index?keyword={keyword}&&pageIndex={Model.PageIndex - 1}";
                                    }
                                }
                                <li class="page-item">
                                    <a class="page-link" href="@url" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                @for (int i = 1; i <= Model.TotalPage; i++)
                                {
                                    url = $"/admin/post/index?keyword={keyword}&&pageIndex={i}";
                                    var active = Model.PageIndex == i ? "active" : "";
                                    <li class="page-item @active"><a class="page-link" href="@url">@i</a></li>
                                }
                                <li class="page-item">
                                    @{
                                        if (Model.PageIndex < Model.TotalPage)
                                        {
                                            url = $"/admin/post/index?keyword={keyword}&&pageIndex={Model.PageIndex + 1}";
                                        }
                                    }
                                    <a class="page-link" href="@url" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
