﻿@model JustBlog.ViewModels.Comments.CommentVm;
@using JustBlog.Application.Posts;

@inject IPostService postService;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@{
    var posts = postService.GetAll();
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostId" class="control-label"></label>
                <select class="form-control" asp-for="PostId" asp-items="@(new SelectList(posts,"Id","Title"))">
                    <option disabled>--------</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CommentHeader" class="control-label"></label>
                <input asp-for="CommentHeader" class="form-control" />
                <span asp-validation-for="CommentHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentText" class="control-label"></label>
                <textarea asp-for="CommentText" class="form-control" rows="4"></textarea>
                <span asp-validation-for="CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentTime" class="control-label"></label>
                <input asp-for="CommentTime" class="form-control" />
                <span asp-validation-for="CommentTime" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

