﻿@using JustBlog.ViewModels.Categories
@model IEnumerable<CategoryVm>
@{

}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success"> @TempData["Success"]</div>
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created On</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>@category.CreatedOn.ToString("dd/MM/yyyy")</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@category.Id">Update</a>
                    <a class="btn btn-sm btn-warning" asp-action="Details" asp-route-id="@category.Id">Details</a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>