﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<JustBlog.ViewModels.Posts.PostVm>

<div class="container px-4 px-lg-5">
    <h3>All Posts</h3><hr />
    <div class="row gx-4 gx-lg-5 justify-content-lg-start">
        <div class="col-md-12">
            <!-- Post preview-->
            @foreach (var item in Model)
            {
                <div class="post-preview">
                    <a href="/home/details/@item.Id">
                        <h2 class="post-title">@item.Title</h2>
                    </a>
                    <p class="post-meta">
                        Posted on
                        <a  href="#">@item.CreatedOn</a>
                    </p>
                    <p>@item.ShortDesciption</p>
                </div>
            }
        </div>
    </div>
</div>
